@import "native.css";
// @import "friendly.css";

html {
    margin-left: calc(100vw - 100%);
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif;

    min-height: 100vh;
    max-width: 850px;
    margin: auto;
}

a:link {
    text-decoration: none;
}

/* *-general -> default.html */

.nav-general {
    margin-top: 2em;
    margin-bottom: 1em;
}

.main-general {
    flex: 1;
}

/* *-index -> intro.html */

.nav-index {
    flex: 1;
}

.main-index {
    padding-bottom: 1em;
    padding-top: 1em;
    align-self: center;
}

footer {
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

.navigation-list {
    display: flex;
    justify-content: center;

    list-style: none;
    margin-left: -2.5em; /* TODO: Make this cleaner. */
}

.navigation-list a {
    display: inline-block;
    padding: 1em;
}

.nav-link,
.nav-link:visited,
.detail-back a,
.detail-back a:visited {
    color: rgba(101, 102, 104, 0.842);
}

.nav-link:hover,
.nav-link:active,
.detail-back a:hover,
.detail-back a:active {
    color: black;
}

#current {
    color: #0074D9 !important;
}

.detail-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media all and (min-device-width: 850px) {
    .detail-middle {
        display: flex;
        flex: 1;
        flex-direction: row;
        margin-top: 5em;
        padding: 10px;
    }

    .detail-back {
        margin-right: 3em;
        margin-top: 1.7em;
    }
}

@media all and (max-device-width: 849px) {
    .detail-middle {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-top: 5em;
        padding: 10px;
    }

    .detail-back {
        margin-top: 1.6em;
        margin-bottom: 3em;
        margin-left: 1em;
    }

    body > * {
        font-size: 150% !important;
    }
}

.detail-main {
    margin-left: 1em;
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

.tech {
    margin-top: 15px;
    color: rgba(101, 102, 104, 0.842);
}

#index-image {
    margin-top: 6em;
}

#post-content {
    padding-top: 1em;
}

section {
    line-height: 1.75;
    text-align: justify;
}

.post-heading {
    margin-bottom: -0.5em;
}

.project-heading {
    margin-bottom: -10px;
}

.post-heading a,
.project-heading a {
    color: #0074D9;
}

.post-heading a:hover,
.project-heading a:hover {
    text-decoration: underline;
}

#reduce-tech {
    margin-top: 0;
}

.post-date {
    margin-top: 10px;
}

pre {
    padding: 1em 1em;
    border-radius: 0.5em;
    box-shadow:
        0 0.7px 1.4px rgba(0, 0, 0, 0.028),
        0 1.8px 3.4px rgba(0, 0, 0, 0.04),
        0 3.4px 6.4px rgba(0, 0, 0, 0.05),
        0 6px 11.4px rgba(0, 0, 0, 0.06),
        0 11.3px 21.3px rgba(0, 0, 0, 0.072),
        0 27px 51px rgba(0, 0, 0, 0.1);
}