<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158935702-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-158935702-1');
        </script>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/mpe-subset.css">
    </head>
    <body>
        <div class="markdown-preview detail-wrapper">
            <div class="detail-middle">
                <div class="detail-main error">
                    <main>
                        {{ content }}
                    </main>
                </div>
                <div class="detail-back error-home">
                    <a href="{{ site.root }}/">go home</a>
                </div>
            </div>
            <div class="detail-footer">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>