<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/mpe-subset.css">
    </head>
    <body>
        <div class="markdown-preview detail-wrapper">
            <div class="detail-middle">
                <div class="detail-main error">
                    <main>
                        {{ content }}
                    </main>
                </div>
                <div class="detail-back error-home">
                    <a href="{{ site.root }}/">go home</a>
                </div>
            </div>
            <div class="detail-footer">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>