<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap" rel="stylesheet">
    </head>
    <body class="page-not-found">
        <main class="main-general">
            <div class="center">
                {{ content }}
                <a href="index.html" class="error-home">go home</a>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>