<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap" rel="stylesheet">
    </head>
    <body class="body">
        <main class="main-index">
            {{ content }}
        </main>
        <nav class="nav-index">
            {% include navigation.html %}
        </nav>
        <div id="footer-index">
            {% include footer.html %}
        </div>
    </body>
</html>